@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif);

$offwhite:    #EEE8D6;
$darkblue:    #022933;
$yellow:      #FFBA00;
$blue:        #0076A3;
$green:       #548C27;
$orange:      #F39856;
$red:         #D14348;
$purple:      #6D73C2;
$white: #fff;
$body-color: rgb(207, 183, 209);


$color-main: $darkblue;
$color-backgrounds: $body-color;
$color-headlines: $darkblue;


$font-main: 'Merriweather', Helvetica, sans-serif;
$font-highlight: 'Bree Serif', Helvetica, sans-serif;